<%- include('shared/includes/head', { pageTitle: 'Home' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/artists.css"> 
<link rel="stylesheet" href="/styles/about.css"> 
<link rel="stylesheet" href="/styles/letstalk.css"> 
<link rel="stylesheet" href="/styles/referenzen.css"> 
</head>
<body>
    <!-- <script>
        var password = "tutorial4231";
        (function passcodeprotect() {
           var passcode = prompt("Enter PassCode");
           while (passcode !== password) {
              alert("Incorrect PassCode");
              return passcodeprotect();
           }
        }());
     </script> -->
     
    <%- include('shared/includes/header') %>
    <main id="home">
        <div id="over-main">
            <div style="text-align: center;">
                <!-- <p style="padding-bottom: 0; margin-bottom: 0;">Referenzen:</p> -->
                <!-- <p style="color:rgb(121, 121, 121);">Referenzen: ORF | KRONEN ZEITUNG | KURIER | ZDF | RTL | STANDARD | MEINBEZIRK | NÖN | DONAUINSELFEST | USW.</p> -->
            </div>
        </div>
        <div id="main-container-main">
            <div><img src="/images/Ariel-Foto-groeßer-Rund.png" alt=""></div>
            <div id="text-main">
                <h1>FIRST CLASS<span style="color: black;"> ENTERTAINMENT</span></h1>
                <ul>
                    <!-- <li>Musik mit <strong class="gold">Hochgenuss</strong> & <strong class="gold">unvergessliche</strong> <strong>Emotionen</strong></li> -->
                    <!-- BEST EXPERIENCE -->
                    <!-- <li>Individuelle Anpassung, damit du dich und <strong><br>deine Gäste</strong> sich<strong class="gold"> wohlfühlen</strong></li> -->
                    <li>Musik individuell an Ihre Bedürfnisse angepasst!</li>
                    <li>Erleben Sie <strong class="gold">MUSIK-HOCHGENUSS</strong> vom Feinstem!</strong></li>
                    <!-- <li>Flexibel, unkompliziert, handschlagqualität</li> -->
                    <!-- <li>Empfangs, Trauungs- & Hochzeitmusik</li>
                    <li>Private & öffentliche Partymusik</li>
                    <li>Dezente Hintergrundmusik</li>
                    <li>Private Dinnermusik zu zweit</li>
                    <li>Musik zu Tanz</li>
                    <li>Konzert</li>-->
                    <li>Verschiedene Genres!</li> 
                    <!-- <li>Details -> "LET'S TALK".</li>  -->
                </ul>
                <button class="btn" id="lets-talk-btn"><a href="#letstalk" style="color:white;">LET'S TALK</a></button>
            </div>
        </div>
    </main>
    <aside>
        <%- include('shared/includes/artists') %>
    </aside>
    <aside>
        <%- include('shared/includes/about') %>
    </aside>
    <aside>
        <%- include('shared/includes/referenzen') %>
    </aside>
    <aside>
        <%- include('shared/includes/letstalk') %>
    </aside>
<%- include('shared/includes/footer') %>
<p id="last-p"> © 2024 | ARITAINMENT | FIRST CLASS ENTERTAINMENT | All rights reserved | Website made by Ariel Szabó | Photos of Ariel Szabó were taken by © Márton Andrea</p>