<%- include('shared/includes/head', { pageTitle: 'Home' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/artists.css"> 
<link rel="stylesheet" href="/styles/about.css"> 
<link rel="stylesheet" href="/styles/letstalk.css"> 
<link rel="stylesheet" href="/styles/referenzen.css"> 
</head>
<body>
    <%- include('shared/includes/header') %>
    <main id="home">
        <div id="main-container-main">
            <div><img src="/images/Ariel-Foto-groeßer-Rund.png" alt=""></div>
            <div id="text-main">
                <h1>FIRST CLASS<span style="color: black;"> ENTERTAINMENT</span></h1>
                <ul>
                    <li>Ich biete dir Musik mit <strong class="gold">Hochgenuss</strong> & <strong class="gold">unvergesslichen</strong> <strong>Emotionen</strong> für dein Event</li>
                    <!-- BEST EXPERIENCE -->
                    <li>Individuelle Anpassung, damit sich <strong><br>deine Gäste</strong> <strong class="gold">wohlfühlen</strong></li>
                    <!-- <li>Flexibel, unkompliziert, handschlagqualität</li> -->
                    <li>Emmpfangs, Trauungs- & Hochzeitmusik</li>
                    <li>Private & öffentliche Partymusik</li>
                    <li>Dezente Hintergrundmusik</li>
                    <li>Private Dinnermusik zu zweit</li>
                    <li>Musik zu Tanz</li>
                    <li>Konzert</li>
                    <li>Verschiedene Genres</li>
                </ul>
                <button class="btn" id="lets-talk-btn"><a href="#letstalk" style="color:white;">LET'S TALK</a></button>
            </div>
        </div>
    </main>
    <aside>
        <%- include('shared/includes/artists') %>
    </aside>
    <aside>
        <%- include('shared/includes/about') %>
    </aside>
    <aside>
        <%- include('shared/includes/referenzen') %>
    </aside>
    <aside>
        <%- include('shared/includes/letstalk') %>
    </aside>
<%- include('shared/includes/footer') %>
<p id="last-p"> © 2024 | ARIEL DELUXE | FIRST CLASS ENTERTAINMENT | All rights reserved | Website made by Ariel Szabó</p>