<%- include('shared/includes/head', { pageTitle: 'Home' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/artists.css"> 
<link rel="stylesheet" href="/styles/about.css"> 
<link rel="stylesheet" href="/styles/letstalk.css"> 
<link rel="stylesheet" href="/styles/referenzen.css"> 
</head>
<body>
    <%- include('shared/includes/header') %>
    <main id="home">
        <div id="main-container-main">
            <div><img src="/images/Ariel-Foto-groeßer-Rund.png" alt=""></div>
            <div id="text-main">
                <h1>FIRST CLASS<span> ENTERTAINMENT</span></h1>
                <ul>
                    <li>Maßgeschneiderte Anpassung, damit sich <strong>deine Gäste <strong>wohlfühlen</strong></strong></li>
                    <li>Dezente musikalische Untermalung</li>
                    <li>Harmonische Begleitung</li>
                    <li>Fesselnde & Energiegeladene Klänge</li>
                    <li>Von Klassik bis Pop</li>
                </ul>
                <button class="btn" id="lets-talk-btn"><a href="#letstalk" style="color:white;">LET'S TALK</a></button>
            </div>
        </div>
    </main>
    <aside>
        <%- include('shared/includes/artists') %>
    </aside>
    <aside>
        <%- include('shared/includes/about') %>
    </aside>
    <aside>
        <%- include('shared/includes/referenzen') %>
    </aside>
    <aside>
        <%- include('shared/includes/letstalk') %>
    </aside>
<%- include('shared/includes/footer') %>
<p id="last-p"> © 2024 | ARIEL DELUXE | FIRST CLASS ENTERTAINMENT | All rights reserved | Website made by Ariel Szabó</p>